<h1>Formulário de Inscrição</h1>

<form action="." method="post">
    {% csrf_token %}
    <p><label for="name">Nome:</label><br><input type="text" id="name" name="name" maxlength="100"></p>
    <p><label for="cpf">CPF:</label><br><input type="text" id="cpf" name="cpf" maxlength="11"></p>
    <p><label for="email">Email:</label><br><input type="email" id="email" name="email" maxlength="75"></p>
    <p><label for="phone">Telefone:</label><br><input type="text" id="phone" name="phone" maxlength="20"></p>
    <input type="submit" value="Enviar" />
</form>